<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>HEROS</h1>
        <ul>
        {% for hero in heroes %}
            <li><a href="/{{ hero.id }}">{{ hero }}</a></li>
        {% endfor %}
        </ul>
        <hr>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <h4>Add a hero:</h4>
        <form action='{% url "heroes:create" %}' method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name">
                <input type="submit" value="Add">
            </div>
        </form>
    </body>
</html>