<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>{{ hero }}</h1>
        <hr>
        <h3>has powers:</h3>
        <ul>
            {% for power in hero.powers.all %}
            <li>{{ power }}</li>
            {% endfor %}
        </ul>
        <form action="{% url 'heroes:add_power' hero.id %}" method="POST">{% csrf_token %}
            <select name='power'>
                {% for pow in powers %}
                <option value="{{ pow.id }}">{{ pow }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add Power to Hero">
        </form>
    </body>
</html>