<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>POWERRR</h1>
        <ul>
        {% for pow in powers %}
            <li><a href="/{{ pow.id }}">{{ pow }}</a></li>
        {% endfor %}
        </ul>
        <hr>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <h4>Add a POWER:</h4>
        <form action='{% url "powers:create" %}' method="POST">{% csrf_token %}
            <div class="form-group">
                <label for="name">Power Name:</label>
                <input type="text" name="name">
            </div>
             <div class="form-group">
                <label for="level">POWER LEVEL:</label>
                <input type="number" name="level">
            </div>
            <input type="submit" value="Add">
        </form>
    </body>
</html>